 <!-- Main jumbotron for a primary marketing message or call to action -->
 <div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Hand Values</h1>
        <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
            <ngb-panel title="Royal Flush">
              <ng-template ngbPanelContent>
                <p>A, K, Q, J, 10 all the same suit</p>
                <img src="assets/img/cards/AS.svg" class="pcard">
                <img src="assets/img/cards/KS.svg" class="pcard">
                <img src="assets/img/cards/QS.svg" class="pcard">
                <img src="assets/img/cards/JS.svg" class="pcard">
                <img src="assets/img/cards/TS.svg" class="pcard">
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Straight Flush">
                <ng-template ngbPanelContent>
                    <p>Straight Flush - Five cards in a sequence, all in the same suit</p>
                    <img src="assets/img/cards/9D.svg" class="pcard">
                    <img src="assets/img/cards/8D.svg" class="pcard">
                    <img src="assets/img/cards/7D.svg" class="pcard">
                    <img src="assets/img/cards/6D.svg" class="pcard">
                    <img src="assets/img/cards/5D.svg" class="pcard">
                </ng-template>
              </ngb-panel>
              <ngb-panel title="Four of a kind">
                <ng-template ngbPanelContent>
                    <p>Four of a kind - All four cards of the same rank</p>
                    <img src="assets/img/cards/6H.svg" class="pcard">
                    <img src="assets/img/cards/6C.svg" class="pcard">
                    <img src="assets/img/cards/6D.svg" class="pcard">
                    <img src="assets/img/cards/6S.svg" class="pcard">
                    <img src="assets/img/cards/TS.svg" class="pcard">
                </ng-template>
              </ngb-panel>
               <ngb-panel title="Full house">
                <ng-template ngbPanelContent>
                    <p>Full house - Three of a kind with a pair</p>
                    <img src="assets/img/cards/QS.svg" class="pcard">
                    <img src="assets/img/cards/QH.svg" class="pcard">
                    <img src="assets/img/cards/QC.svg" class="pcard">
                    <img src="assets/img/cards/2S.svg" class="pcard">
                    <img src="assets/img/cards/2C.svg" class="pcard">
                </ng-template>
              </ngb-panel>
              <ngb-panel title="Flush">
                <ng-template ngbPanelContent>
                    <p>Flush - Any five cards of the same suit, but not in a sequence</p>
                    <img src="assets/img/cards/KD.svg" class="pcard">
                    <img src="assets/img/cards/JD.svg" class="pcard">
                    <img src="assets/img/cards/9D.svg" class="pcard">
                    <img src="assets/img/cards/7D.svg" class="pcard">
                    <img src="assets/img/cards/3D.svg" class="pcard">
                </ng-template>
              </ngb-panel>
              <ngb-panel title="Straight">
                <ng-template ngbPanelContent>
                    <p>Straight - Five cards in a sequence, but not of the same suit</p>
                    <img src="assets/img/cards/JC.svg" class="pcard">
                    <img src="assets/img/cards/TC.svg" class="pcard">
                    <img src="assets/img/cards/9C.svg" class="pcard">
                    <img src="assets/img/cards/8C.svg" class="pcard">
                    <img src="assets/img/cards/7C.svg" class="pcard">
                </ng-template>
              </ngb-panel>
              <ngb-panel title="Three of a kind">
                <ng-template ngbPanelContent>
                    <p>Three of a kind - Three cards of the same rank</p>
                    <img src="assets/img/cards/KD.svg" class="pcard">
                    <img src="assets/img/cards/KC.svg" class="pcard">
                    <img src="assets/img/cards/KH.svg" class="pcard">
                    <img src="assets/img/cards/6C.svg" class="pcard">
                    <img src="assets/img/cards/6S.svg" class="pcard">
                </ng-template>
              </ngb-panel>
              <ngb-panel title="Two pair">
                <ng-template ngbPanelContent>
                    <p>Two pair - Two different pairs</p>
                    <img src="assets/img/cards/2C.svg" class="pcard">
                    <img src="assets/img/cards/2S.svg" class="pcard">
                    <img src="assets/img/cards/5D.svg" class="pcard">
                    <img src="assets/img/cards/5H.svg" class="pcard">
                    <img src="assets/img/cards/TS.svg" class="pcard">
                </ng-template>
              </ngb-panel>
              <ngb-panel title="Two of a kind">
                <ng-template ngbPanelContent>
                    <p>Two of a kind - Two cards of the same rank</p>
                    <img src="assets/img/cards/3H.svg" class="pcard">
                    <img src="assets/img/cards/3S.svg" class="pcard">
                    <img src="assets/img/cards/5C.svg" class="pcard">
                    <img src="assets/img/cards/AC.svg" class="pcard">
                    <img src="assets/img/cards/TS.svg" class="pcard">
                </ng-template>
              </ngb-panel>
              <ngb-panel title="High Card">
                <ng-template ngbPanelContent>
                    <p>High Card - When you haven't made any of the hands above, the highest card plays.
                        In the example below, the jack plays as the highest card</p>
                    <img src="assets/img/cards/JH.svg" class="pcard">
                    <img src="assets/img/cards/8S.svg" class="pcard">
                    <img src="assets/img/cards/5C.svg" class="pcard">
                    <img src="assets/img/cards/2C.svg" class="pcard">
                    <img src="assets/img/cards/TS.svg" class="pcard">
                </ng-template>
              </ngb-panel>

          </ngb-accordion>

