<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Poker Helper!</h1>
        <p>Poker Helper offers you an easy way to konw better your chances to win every deal.
        <p>Pick your cards, number of opponents and caltulate the risk.</p>
        <p>Click "Hand Values" to learn more about cards values.</p>
        <p><a class="btn btn-primary btn-lg" routerLink="/hand-values" role="button">Hand Values &raquo;</a></p>
        <p>Click on the estimaotors below to know your chances to winning.</p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Preflop estimator</h2>
            <p>Calculate your preflop chances </p>
            <p><a class="btn btn-secondary" routerLink="/hand-calc" role="button">&raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Table Estimator</h2>
            <p>Calculate your post flop chances </p>
            <p><a class="btn btn-secondary" routerLink="/table-estimator" role="button">&raquo;</a></p>
        </div>
    </div>
    <hr>
</div> <!-- /container -->
