 <!-- Main jumbotron for a primary marketing message or call to action -->
 <div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Hand Values</h1>
        <div class="accordion" id="accordionHands">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#handOne" aria-expanded="true" aria-controls="handOne">
                            Royal Flush
                        </button>
                    </h4>
                </div>

                <div id="handOne" class="collapse" data-parent="#accordionHands">
                    <div class="card-body">
                        <p>A, K, Q, J, 10 all the same suit</p>
                        <img src="assets/img/cards/AS.svg" class="pcard">
                        <img src="assets/img/cards/KS.svg" class="pcard">
                        <img src="assets/img/cards/QS.svg" class="pcard">
                        <img src="assets/img/cards/JS.svg" class="pcard">
                        <img src="assets/img/cards/10S.svg" class="pcard">
                    </div>
                </div>
            </div>
        </div>
        



        <p>Straight Flush - Five cards in a sequence, all in the same suit</p>
        <img src="assets/img/cards/9D.svg" class="pcard">
        <img src="assets/img/cards/8D.svg" class="pcard">
        <img src="assets/img/cards/7D.svg" class="pcard">
        <img src="assets/img/cards/6D.svg" class="pcard">
        <img src="assets/img/cards/5D.svg" class="pcard">

        <p>Four of a kind - All four cards of the same rank</p>
        <img src="assets/img/cards/4H.svg" class="pcard">
        <img src="assets/img/cards/4C.svg" class="pcard">
        <img src="assets/img/cards/4D.svg" class="pcard">
        <img src="assets/img/cards/4S.svg" class="pcard">
        <img src="assets/img/cards/10S.svg" class="pcard">

        <p>Full house - Three of a kind with a pair</p>
        <img src="assets/img/cards/QS.svg" class="pcard">
        <img src="assets/img/cards/QH.svg" class="pcard">
        <img src="assets/img/cards/2D.svg" class="pcard">
        <img src="assets/img/cards/2S.svg" class="pcard">
        <img src="assets/img/cards/2C.svg" class="pcard">

        <p>Flush - Any five cards of the same suit, but not in a sequence</p>
        <img src="assets/img/cards/KD.svg" class="pcard">
        <img src="assets/img/cards/JD.svg" class="pcard">
        <img src="assets/img/cards/9D.svg" class="pcard">
        <img src="assets/img/cards/7D.svg" class="pcard">
        <img src="assets/img/cards/3D.svg" class="pcard">

        <p>Straight - Five cards in a sequence, but not of the same suit</p>
        <img src="assets/img/cards/JC.svg" class="pcard">
        <img src="assets/img/cards/10C.svg" class="pcard">
        <img src="assets/img/cards/9C.svg" class="pcard">
        <img src="assets/img/cards/8C.svg" class="pcard">
        <img src="assets/img/cards/7C.svg" class="pcard">

        <p>Three of a kind - Three cards of the same rank</p>
        <img src="assets/img/cards/KD.svg" class="pcard">
        <img src="assets/img/cards/KC.svg" class="pcard">
        <img src="assets/img/cards/KH.svg" class="pcard">
        <img src="assets/img/cards/6C.svg" class="pcard">
        <img src="assets/img/cards/6S.svg" class="pcard">

        <p>Two pair - Two different pairs</p>
        <img src="assets/img/cards/2C.svg" class="pcard">
        <img src="assets/img/cards/2S.svg" class="pcard">
        <img src="assets/img/cards/5D.svg" class="pcard">
        <img src="assets/img/cards/5H.svg" class="pcard">
        <img src="assets/img/cards/10S.svg" class="pcard">

        <p>Two of a kind - Two cards of the same rank</p>
        <img src="assets/img/cards/3H.svg" class="pcard">
        <img src="assets/img/cards/3S.svg" class="pcard">
        <img src="assets/img/cards/5C.svg" class="pcard">
        <img src="assets/img/cards/AC.svg" class="pcard">
        <img src="assets/img/cards/10S.svg" class="pcard">

        <p>High Card - When you haven't made any of the hands above, the highest card plays.
            In the example below, the jack plays as the highest card</p>
        <img src="assets/img/cards/JH.svg" class="pcard">
        <img src="assets/img/cards/8S.svg" class="pcard">
        <img src="assets/img/cards/5C.svg" class="pcard">
        <img src="assets/img/cards/2C.svg" class="pcard">
        <img src="assets/img/cards/10S.svg" class="pcard">

    </div>
</div>

