<div class="container">
    <img src="{{value.card1.getImageSrc()}}" class="cardpick" (click)="openCardPicker(value.card1)">
    <img src="{{value.card2.getImageSrc()}}" class="cardpick" (click)="openCardPicker(value.card2)">
    <img src="{{value.card3.getImageSrc()}}" class="cardpick" (click)="openCardPicker(value.card3)">
    <img src="{{value.card4.getImageSrc()}}" class="cardpick" (click)="openCardPicker(value.card4)">
    <img src="{{value.card5.getImageSrc()}}" class="cardpick" (click)="openCardPicker(value.card5)">
</div>

<app-card-picker #cardPicker></app-card-picker>
