<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Postflop estimator</h1>

        <app-hand [value]="handCards" (chosen)="setHand($event)" [deck]="deck"></app-hand>

        <app-table (chosen)="setTable($event)" [deck]="deck"></app-table>

        <div class="input-group my-3" id="numOfPlayersGroup">
            <div class="input-group-prepend">
              <label class="input-group-text" for="numberOfPlayers">Number of players</label>
            </div>
            <select class="custom-select" (change)="onNumOfPlayersChange($event)" id="numberOfPlayers">
              <option selected>Choose...</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="4">Four</option>
              <option value="5">Five</option>
              <option value="6">Six</option>
              <option value="7">Seven</option>
              <option value="8">Eight</option>
              <option value="9">Nine</option>
              <option value="10">Ten</option>
            </select>
          </div>

        <p>Hand value: {{handValue}}</p>
    </div>
